@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--primary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: var(--accent);
  width: 70%;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-weight: 100;
  color: var(--secondary);
  border-radius: 10px;
}
.input-new-book{
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-box{
  width: 70%;
  background-color: var(--secondary);
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 5px 5px 25px var(--accent);
}
.form-head{
  font-weight: 200;
  width: 100%;
  background-color: var(--accent);
  padding: 10px;
  font-size: 25px;
  color: var(--secondary);
  border-radius: 5px;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.input-box{
  width: 70%;
  /* background-color: powderblue; */
  padding: 20px;
  margin: 20px;
}
.book-label{
  font-size: 20px;
  margin-right: 30px;
}
.book-input{
  border: 1px solid var(--accent);
  border-radius: 5px;
  margin: 10px;
  width: 90%;
  height: 40px;
  padding: 10px;
}
#image_uploads{
  margin: 10px;
}
#hint{
  margin: 0px 0px 10px 10px;
  opacity: 25%;
  font-size: 15px;
}
#reviews{
  height: 50px;
}